@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Geist Mono', poppins, arial;
  /* font-family: 'Geist Mono', Roboto, 'Sour Gummy', poppins; */
  font-size: 18px;
}

:root {
  /* dark mood variables */
  --light-color: #e8eef1;
  /* light mood variables */
  --dark-mood: #001303;
  --dark-color: #0f184a;

  --main-color: #057dcd;
  --header-font: poppins;
  --fancy-font: 'Sour Gummy';
}

.label {
  font-family: var(--header-font);
  font-size: 2rem;
  font-weight: 700;
}

body.light-mode {
  background-color: var(--light-color);
  color: var(--dark-color);
  transition: background 0.5s ease-in;
}

/* Dark mode styles */
body.dark-mode {
  background-color: var(--dark-mood);
  color: white;
  transition: background 0.5s ease-out;
}
