@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Geist Mono', poppins, arial;
  /* font-family: 'Geist Mono', Roboto, 'Sour Gummy', poppins; */
  font-size: 18px;
  text-decoration: none;
  scroll-behavior: smooth;
}

a {
  color: inherit; /* Use the default text color */
  text-decoration: none; /* Optional: to remove underlines */

  &:visited {
    color: inherit; /* Ensures the visited link color is the same as unvisited */
  }
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

::selection {
  background: gray;
}

:root {
  /* dark mood variables */
  --light-color: #e8eef1;
  /* light mood variables */
  --dark-mood: #000;
  --dark-color: #0f184a;

  --main-color: #057dcd;
  --header-font: poppins;
  --fancy-font: 'Sour Gummy';
}

.label {
  font-family: var(--header-font);
  font-size: clamp(1.125rem, 0.6596rem + 1.4894vw, 2rem);
  font-weight: 700;
}

button {
  border: none;
  outline: none;
  border-radius: 15px;
  background: none;
  cursor: pointer;
}

body.light-mode {
  background-color: var(--light-color);
  color: var(--dark-color);
  transition: background 0.1s ease-in;

  button {
    color: var(--dark-color);
    i {
      color: var(--dark-color);
    }
  }

  .anchor-link {
    color: var(--dark-color);
  }
  .download-resume {
    color: var(--light-color);
    background: var(--dark-color);
    i {
      color: var(--light-color);
    }
  }
}

/* Dark mode styles */
body.dark-mode {
  background-color: var(--dark-mood);
  color: var(--light-color);
  transition: background 0.7s ease-out;

  .project-image {
    filter: brightness(65%);
  }

  .anchor-link {
    color: var(--light-color);
  }

  button {
    color: var(--light-color);
    i {
      color: var(--light-color);
    }
  }

  .download-resume {
    color: var(--light-color);
    background: var(--main-color);
  }
}
